<div class="list">

  <form action="/students/<%= @student.id %>" method="POST">
    <div class="cell">
      <label for="id">Student ID</label>
      <input id="id" name="id" type="number" value="<%= @student.id %>" disabled >
    </div>
    <div class="cell">
      <label for="first_name">First Name</label>
      <input id="first_name" name="first_name" type="text" placeholder="First Name" value="<%= @student.first_name %>"required>
    </div>
    <div class="cell">
      <label for="last_name">Last Name</label>
      <input id="last_name" name="last_name" type="text" placeholder="Last Name" value="<%= @student.last_name %>" required>
    </div>
    <div class="cell">
      <label for="age">Age</label>
      <input id="age" name="age" type="number" value="<%= @student.age %>" required>
    </div>
    <div class="cell">
      <label for="house_id">House</label>
        <select name="house_id" id="house_id">
          <% for house in @houses %>
          <option value="<%= house.id %>"
            <%if @student.house_id == house.id%>
            <%= p "selected" %>
            <% end %>><%= house.name %></option>
          <% end %>

        </select>
    </div>
    <div class="cell">
      <input id="new_button" type="submit" value="Update Details">
    </div>
    <div class="cell">
      <a class="delete_button" href="/students/delete/<%= @student.id %>">Delete Student</a>
    </div>
  </form>


</div>
