<h2>Student List</h2>
<!-- <hr> -->

<div class="list">
    <% for student in @students %>
    <a class="student_select" href="/students/<%= student.id %>/edit">
      <div  class="cell">
          <p><%= student.full_name()%></p>
          <!-- <p>House: <%= student.find_house.name %></p>
          <p>Age: <%= student.age %></p> -->
          <p><img class="logo" src="<%= student.find_house.logo %>" alt="<%= student.find_house.name %> logo"></p>
          <p>
          <!-- <a href="/students/<%= student.id %>/edit">Details</a> -->
          </p>
      </div>
    </a>
            <% end %>
<div>
