<h2>All Students at Hogwarts</h2>
<!-- <hr> -->

<div class="list">
    <% for student in @students %>
    <div  class="cell">
      <p>Name: <%= student.full_name()%></p>
      <p>House: <%= student.find_house.name %></p>
      <p>Age: <%= student.age %></p>
      <p><img class="logo" src="<%= student.find_house.logo %>" alt="<%= student.find_house.name %> logo"></p>
      <!-- <p>
      <a href="/students/<%= student.id %>">Show Student Details</a>
      </p> -->
      <!-- <hr> -->
    </div>
    <% end %>
<div>
